*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html, body{
    max-width: 100%; height: 100%;
    background-color: rgb(254, 251, 231);
}

/*main*/
.hero{
    display: flex; flex-direction: column;
    justify-content: center;

    background-color: rgb(155, 209, 132);
    border-radius: 50px;
    height: 80vh;
    margin: 50px 15px 100px 15px;
}

/**/
.parent{
    display: grid; grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.card{
    background-color: coral; height: 100px; width: 100px;
    border-radius: 25px;
}