@font-face {
    font-family: 'DM-sans';
    src: url(../../asset_foto/DMSans.ttf);
}
body{
    font-family: 'DM-sans';
    display: flex; flex-direction: column;
}
.chat-product-card{
    display: flex; flex-direction: column; align-items: flex-end;
}
.chat-product-preview {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 15px 0 15px auto;
    display: flex; align-items: center;
    max-width: 300px;
}

.chat-product-preview img {
    width: 100px; height: 100px; object-fit: cover;
    margin-bottom: 10px;
}

.chat-p-info p{
    margin: 0;
    font-size: 14px !important;
    color: #333 !important;
}

.chat-product-preview p {
    margin: 4px 0 0;
    font-size: 14px;
}