@font-face {
  font-family: "DM-sans";
  src: url(../asset_foto/DMSans.ttf);
}
* {
  overflow: hidden;
}
body {
  background-color: rgb(254, 251, 231);
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "DM-sans";
}

.kiri {
  flex: 1.2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kiri div:last-child {
  position: absolute;
  bottom: 40px;
  left: 50px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

#kembali {
  text-decoration: none;
  color: black;
}
#kembali:hover {
  filter: opacity(50%);
}
#kembali:active {
  filter: opacity(100%);
}

.logo {
  width: 450px;
}

.kiri div:last-child {
  position: absolute;
  bottom: 40px;
  left: 50px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.kanan {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 15px;
  padding: 20px;
}

form h2 {
  font-size: 40px;
  margin: 0 0 10px 0;
}

form input {
  background-color: #eeeeee;
  border: none;
  padding: 16px;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
}

.tombol-login {
  background-color: #80ffb2;
  border: 1px solid black;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
  border-radius: 5px;
}

.tombol-login:hover {
  background-color: #61e897;
}

form > a {
  color: black;
  text-decoration: none;
  margin: 14px;
  margin-top: -5px;
}

form p {
  text-align: center;
  margin: 10px 0px;
}

form button[type="button"] {
  background-color: white;
  border: 1px solid black;
  font-size: 18px;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

form button[type="button"]:hover {
  background-color: #f0f0f0;
}

.daftar {
  text-align: center;
  margin-top: 20px;
}
.daftar a {
  color: #1a73e8;
  font-weight: bold;
  text-decoration: none;
}


.container-utama {
  display: flex;
  height: 100vh;
}


.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.pop-up-google {
  background: white;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  overflow: hidden;
  animation: muncul 0.3s ease;
}

@keyframes muncul {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.account-chooser-container {
  padding: 30px 0 10px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.google-logo {
  width: 75px;
  margin-bottom: 10px;
}
.header h2 {
  font-size: 22px;
  font-weight: 500;
  margin: 5px 0;
}
.header p {
  font-size: 14px;
  margin-bottom: 20px;
}

.account-list {
  border-top: 1px solid #dadce0;
}

.account-item {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  border-bottom: 1px solid #dadce0;
  cursor: pointer;
  transition: 0.2s;
}

.account-item:hover {
  background-color: #f7f8f8;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.account-info {
  text-align: left;
}
.account-info .name {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #3c4043;
}
.account-info .email {
  font-size: 12px;
  color: #70757a;
}

#lupapw:hover {
  filter: opacity(50%);
}
#lupapw:active {
  filter: opacity(100%);
}

#btn-google {
  border-radius: 5px;
}