<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat - InTani</title>
    <link rel="stylesheet" href="chat_page.css">
</head>
<body>

    <header class="navbar">
        <div class="container nav-content">
            <div class="logo">InTani</div>
            <div class="search-bar"><input type="text" placeholder="Cari..."></div>
            <div class="nav-links"><span>jual-beli</span> <span>sewa</span> 🛒 👤</div>
        </div>
    </header>

    <main class="container chat-layout">
        
        <section class="chat-header card-border-blue">
            <div class="avatar-circle">👤</div>
            <div class="header-info">
                <h2>nama toko</h2>
                <a href="toko_page.html" class="btn-visit">kunjungi toko</a>
            </div>
        </section>

        <section class="chat-window">
            <div class="chat-date-separator">
                <span>hari ini</span>
            </div>

            <div class="message-row">
                <div class="mini-avatar">👤</div>
                <div class="bubble">
                    ada yg bisa kami bantu?
                </div>
            </div>
        </section>

        <footer class="chat-input-area">
            <input type="text" placeholder="tulis pesan">
            <button class="btn-send">➤</button>
        </footer>

    </main>

</body>
</html>