@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500&family=Playfair+Display:wght@500&display=swap');
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth; overscroll-behavior: none;
    overflow-x: hidden;
}
html,body{
    max-width: 100%; height: 100%;
    background-color: rgb(254, 251, 231);
    font-family: 'DM Sans';
}
/*section*/
.card-parent{
    display: grid; grid-template-columns: repeat(5, 1fr);
    row-gap: 70px;
    padding: 20px;
}
.card{
    position: relative;
    width: 240px; height: auto; padding-bottom: 20px;
    background: white; border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.content-default{
    display: flex; flex-direction: column;
    margin: 30px 30px 0px;
}
.content-default img{
    width: 100%;
    aspect-ratio: 1/1; object-fit: cover;
    display: block;
    margin-bottom: 15px;
}
.content-hover{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    padding: 25px;
    display: flex; flex-direction: column;
    background: rgba(0, 0, 0, 0.8);

    opacity: 0;
    transition: 0.3s ease;
}
.info-hover{
    color: aliceblue;
}
.info-hover h3{
    margin-bottom: 5px;
}
.card-btn{
    position: absolute;
    bottom: 20px; left: 50%; transform: translateX(-50%);
    padding: 5px 15px; border-radius: 5px;
    background-color:aliceblue ;

    text-decoration: none;
}
.card:hover .content-hover{
    opacity: 1;
}