@font-face {
    font-family: 'DM-sans';
    src: url(../asset_foto/DMSans.ttf);
}
* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    background-color: #f5eee6;
    color: #333; font-family: 'DM-sans';
}

.card-store {
    background: white;
    margin: 20px 15px 20px;
    display: flex;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    padding: 20px; gap: 30px;
}

#store-img{
    width: 120px; height: 120px;
    border-radius: 100%;
    object-fit: contain;
    margin: 10px 10px 10px;
}

.store-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
}


.store-button{
    display: flex; gap: 10px;
}
.store-button a{
    text-decoration: none;
}
.btn-store {
    background-color:#f5a623; color: white;
    padding: 8px;
    border-radius: 5px; border: none;
    font-size: 15px;
}
.btn-store:hover{
    background-color: #ffb031;
}
.btn-store:active{
    background-color: #b57414;
}
.review-section h3{
    margin-left: 15px;
}

.review-card {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    padding: 20px; gap: 30px;
    margin: 10px 15px 10px;
    display: flex;
    border-radius: 15px;
}

.user-header{
    display: flex; align-items: center;
}

.user-header h1{
    font-size: 20px; font-weight: bolder;
}

#user-avatar {
    width: 50px; height: 50px;
    border-radius: 100%;
}

.stars {
    color: #ffd900;
    margin-left: 10px;
}

.chat-input-area {
    background: white;
    padding: 50px 5px 5px; gap: 30px;
    margin: 10px 15px 50px;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.chat-input-area input {
    flex: 1;
    border: none; outline: none;
    font-size: 15px; color: #333;
    margin-left: 10px;
}

#send {
  object-fit: contain;
  height: 25px;
  width: 25px;
  filter: opacity(50%);
  cursor: pointer;
  transition: 0.2s;
}

#send:active {
  transform: scale(1.1);
  filter: opacity(100%);
}