@font-face {
  font-family: "DM-sans";
  src: url(../asset_foto/DMSans.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  background-color: #f5eee6;
  max-width: 100%;
  height: 100%;
  font-family: "DM-sans";
  color: #333;
}

.chat-header {
  background: white;
  margin: 5px 15px 20px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 10px;
  gap: 10px;
}

#store-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: contain;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-info h1 {
  font-size: 20px;
}
.btn {
  display: inline-flex;
  align-items: center;
  background-color: #d78a18;
  color: white;
  text-decoration: none;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  padding: 5px 8px;
  text-decoration: none;
}

/* Window Chat */
.chat-window {
  flex: 1;
  background-color: #bdbdbd;
  padding: 20px;
  height: 70vh;
  overflow-y: auto;
  margin: 5px 15px 0;
  border-radius: 15px 15px 0 0;
}

.message-row {
  display: flex; flex-direction: column;
  width:100%;
  gap: 10px;
}

.bubble {
  background: white; border-radius: 10px;
  padding: 10px 15px; max-width: 70%;
  font-size: 14px;
  width: fit-content; align-items: flex-start;
}
#chat-product-placeholder{
  align-self: flex-end;
}

/* Input Bagian Bawah */
.chat-input-area {
  background: white; border-radius: 0 0 15px 15px;
  margin: 0 15px 20px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.chat-input-area input {
  flex: 1;
  border: none;
  font-size: 20px;
  outline: none;
}

.btn-send {
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #333;
  transform: rotate(-15deg); /* Memberi kesan ikon send */
}
