<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product-container</title>
    <link rel="stylesheet" href="product-container.css">
</head>
<body>
    <section class="card">
        <img id="main-product-img" alt="Produk">
        <div class="product-info">
            <h1 id="main-product-name">Memuat produk...</h1>
            <p class="product-price">Rp <span id="main-product-price">0</span></p>
            <div class="action-button">
                <button class="btn">Masukkan keranjang</button>
                <a href="../transaksi-page/transaksi.html" class="btn">beli sekarang</a>
            </div>
        </div>
    </section>
</body>
</html>