<section class="card product-main">
    <div class="product-image">
            <img id="main-product-img" src="" alt="Produk">
        </div>
    <div class="product-info">
        <h1 id="main-product-name">Memuat Nama...</h1>
        <p class="product-price">Rp <span id="main-product-price">0</span> / Hari</p>
        
        <div class="quantity-wrapper">
            <label>Jumlah</label>
            <input type="number" value="1" min="1">
            <button class="btn-plus">+</button>
        </div>

        <div class="actions">
            <button class="btn btn-secondary">masukkan keranjang</button>
            <a href="../transaksi page/transaksi.html" class="btn btn-primary">beli sekarang</a>
        </div>
    </div>
</section>